*{
    margin:0;
    padding:0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:linear-gradient(130deg,rgba(255, 229, 172, 0.895),rgba(41, 19, 200, 0.358));
}
#container{
    display: block;
    
}
#basla{
    color:rgb(255, 255, 255);
    padding: 10px;
    border-radius: 25px;
    margin-left: 50px;
    margin-bottom: 10px;
    border:none;
    background:linear-gradient(360deg,rgb(47, 183, 47) ,rgb(136, 186, 167)) ;
    box-shadow:inset 0px 0px 2px 3px rgba(23, 46, 35, 0.31) ;

}
h2{
    font-size: x-large;
    margin-top: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(34, 50, 41);
}
input{
    border: none;
    height: 25px;
    border-radius: 30px;
    background-color: rgba(90, 152, 90, 0.238);
    text-align: center;
    

}
#control{
    border: none;
    width: 40px;
    height: 25px;
    border-radius: 10px;
    background-color: rgba(89, 156, 89, 0.14);
    text-align: center;
    background:linear-gradient(360deg,rgb(47, 183, 47) ,rgb(136, 186, 167)) ;
    box-shadow:inset 0px 0px 2px 3px rgba(23, 46, 35, 0.31) ;
    margin-bottom: 10px;
}
em{

    font-size: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(245, 191, 42);
    border-radius: 20px;
    padding: 4px;
    box-shadow: currentColor 1px 1px 1px;
}